@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gradient-to-br from-indigo-500 via-purple-500 to-pink-500 min-h-screen text-slate-900 antialiased bg-fixed;
    }
}